.box-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.MuiInputLabel-sizeSmall {
  font-family: "FF Mark W05", sans-serif;
  font-size: 0.6rem !important;
  color: #808080 !important;
  font-weight: bold !important;
}

.box-form input {
  border: 2px solid transparent !important;
  border-radius: 3px !important;
}

.box-form input:focus {
  border: 2px solid black !important;
  border-radius: 3px !important;
}

.btn-active-login {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  background-color: transparent;
  margin-top: 6rem;
  color: rgb(220, 220, 220);
  cursor: pointer;
  background-color: #e32636 !important;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.title-form {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.btn-login {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  background-color: greenyellow;
  margin-top: 6rem;
  color: rgb(220, 220, 220);
  cursor: pointer;
  background-color: transparent !important;
}

.box-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.btn-register {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
}

.box-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.btn-face {
  width: 4.4rem;
  border-radius: 3px;
  background-color: #0088ff;
  color: #fff;
  border: none;
  cursor: not-allowed;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google {
  width: 4.4rem;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgb(220, 220, 220);
  cursor: not-allowed;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google .img-icon-google {
  width: 0.9em;
  height: 0.8rem;
}

.btn-apple {
  border-radius: 3px;
  width: 4.4rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: not-allowed;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-checkbox {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
  width: 100%;
}

.input-label-checkbox {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0px;
}

.css-c5v1qu-MuiInputBase-input-MuiFilledInput-input {
  height: 1rem !important;
  border-radius: 2px !important;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root {
  border-radius: 2px !important;
}
