.home {
  width: 100%;
  height: 95vh;
  background-image: url(../../Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  width: 5rem;
  margin-top: 2rem;
  margin-left: 0.2rem;
  gap: 0.8rem;
}

.l-icon, .g-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-g p {
  margin-top: 0.3rem;
  color: white;
  font-size: 0.7rem;
}

.container-g a {
  text-decoration: none;
}

.container-l p {
  margin-top: 0.3rem;
  color: white;
  font-size: 0.7rem;
}

.container-l, .container-g {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-g:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 5rem;
}

.container-l:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 5rem;
}

.icon-g-img {
  width: 2.8rem;
  height: 2.8rem;
}

.icon-l-img {
  width: 5.2rem;
}
