.footer {
  background-color: #303030;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-w {
  display: flex;
  margin-left: 0.3rem;
}

.input-w {
  display: flex;
}

.input {
  width: 19rem;
  background-color: rgba(96, 96, 96, 1);
  border: none;
  margin-left: 0.5rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 0.8rem;
}

.icon-screens-img {
  margin-top: 0.3rem;
  width: 2.4rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* .teste {
  transition: background-color 0.2s;
}

.e-icon:hover .teste {
  background-color: rgba(255, 255, 255, 1);
  width: 2.5rem;
  height: 4px;
  bottom: 0;
  position: absolute;
} */

.e-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  width: 2.5rem;
}

.icon-explorer-img {
  margin-top: 0.3rem;
  width: 1.7rem;
  height: 1.7rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.container-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 1rem;
}

.container-info li {
  list-style: none;
  color: white;
}

.icon-windowns-img {
  width: 2.4rem;
  height: 2rem;
}

.icon-wifi-img {
  width: 1.7rem;
  height: 0.9rem;
}

.icon-audio-img {
  width: 1rem;
  height: 0.7rem;
  margin-right: 0.3rem;
}

.container-language {
  font-size: 0.6rem;
}

.container-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}